@import "tailwindcss";
@theme {
  /* ! fonts */
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  /* --font-source-code: "Source Code Pro", monospace; */

  /* ! colors */
  --color-primary: #1a237e;
  --color-primary-two: #1976d2;

  --color-secondary: #e3f2fd;
  --color-secondary: #26a69a;

  --color-accent: #ffa000;
  --color-green: #43a047;

  --color-neutral: #ffffff;
  --color-neutral-two: #f5f5f5;

  --color-primary-text: #212121;
  --color-primary-text-two: #616161;

  --color-footer-text: hsla(0, 0%, 100%, 0.8);
}

/* * basic styles  */
html {
  @apply font-inter scroll-smooth;
}

/* components */
.logo {
  @apply w-12 h-12 overflow-hidden;
}

.container {
  @apply mx-auto;
}

.header {
  @apply flex justify-between items-center py-5;
}

.primary-heading {
  @apply text-3xl font-poppins md:text-4xl font-bold text-gray-800  text-center;
}

.secondary-btn {
  @apply px-6 py-2 bg-primary text-white rounded-xl hover:bg-primary-two transition-all;
}
